TELEGRAM_BOT_TOKEN=123456789:AAAAA_AAAAAAAAAAAAAAAAAAAAA
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

GEMINI_API_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
GEMINI_MODEL=gemini-3.1-flash-lite

S3_ENDPOINT=https://s3.storage.com
S3_ACCESS_KEY=AAAAAAAAAAAAAAAAAAAAAA
S3_SECRET_KEY=AAAAAAAAAAAAAAAAAAAAAA
S3_BUCKET=sqotion

PUBLIC_UI_DEPLOY_HOOK_URL=https://api.cloudflare.com/client/v4/workers/builds/deploy_hooks/AAAAAAAAAAAAAAAAAAAAAAAAAAA
